[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "latest"
djangorestframework = "latest"
django-cors-headers = "latest"
requests = "latest"
pandas = "latest"
gunicorn = "latest"
beautifulsoup4 = "latest"
python-dotenv = "latest"
psycopg2-binary = "latest"

[requires]
python_version = "3.10.12"